.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 90px;
    box-shadow: 1 1px 3px -2px black;
    background-color: black;
}
.nav-logo p{
    font-size: 25px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
}
.nav-logo span{
    color: #FFB300;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 550;
    cursor: pointer;
}
.nav-login{
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 550;
}
.login-button{
    border: 1px solid #FFB300;
    background-color: #FFB300;
    padding: 8px 23px;
    border-radius: 3px;
}
.register-button{
    padding: 8px 23px;
    border-radius: 3px;
    color: white;
}
.register-button:hover{
    border: 1px solid #FFB300;
    background-color: #FFB300; 
    color: black;  
}
